body{
    padding : 20px ;
    background-color: #232E21;
    font-family: 'Dancing Script', cursive;
}
.title{
    color: #D7B8F3;
}
#paper, #cisors, #rock{
    color:#3A1772; 
}
button{
    border-color:#F42272;
    background-color: #F42272;
    font-size:x-large;
    padding : 10px;
    margin : 10px;
    border-radius : 3px;
    outline : none;
    border : none;
}  
/* visuel cartes zombies */
.card{
    border-color :#6F8F6C;
    background-color:#6F8F6C;
    font-size:x-large;
    padding : 10px;
    margin : 10px;
    border-radius : 3px;
    outline : none;
    border : none;
}
#textWinLose{
    color:#F397D6;
    font-size:xx-large;
}
.score{
    color:#F397D6;
    font-size:xx-large;
    /* margin-bottom: 10px;
    margin-left: 550px;
    margin-top: 20px;
    height: 100px;
    width: 500px; */
}

.resultat {
    border : solid #F42272 1px;
    color:#F42272;
    font-size:xx-large;
    text-align : center;
}
.logo{
    z-index: 1;
    width: 500px
}
.rainbowContainer{
    height: 34em;
    width: 34em;
    z-index: 0;
    position: absolute;
    overflow: hidden;
    transform: translate(-50%, 0);
    left: 50%;
    top: -5em;
    border-radius: 0.6em;
    clip-path: inset(0 0 50% 0);;
}

.rainbow-color{
    background-color: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation: spin 5s infinite;
    transform-origin: 50% 0;
}

@keyframes spin{
    30%{
        transform: translate(-50%, -50%)rotate(180deg);
    }
    55%{
        transform: translate(-50%, -50%)rotate(180deg); 
    }
    85%{
        transform: translate(-50%, -50%)rotate(360deg);
    }
    100%{
        transform: translate(-50%, -50%)rotate(360deg);
    }
}
.rainbow-color-1{
height: 11.25em;
width:22.5em;
border: 1.25em solid #fd004c;
border-top: none;
top: calc(50% + 5.62em);
border-radius: 0 0 11.25em 11.25em;
animation-delay: 0.8s;
}


.rainbow-color-2{
    height: 10em;
    width:20em;
    border: 1.25em solid #fe9000;
    border-top: none;
    top: calc(50% + 5em);
    border-radius: 0 0 10em 10em;  
    animation-delay: 0.6s;
}
.rainbow-color-3{
    height: 8.75em;
    width:17.5em;
    border: 1.25em solid #fff020;
    border-top: none;
    top: calc(50% + 4.37em);
    border-radius: 0 0 8.75em 8.75em;  
    animation-delay: 0.4s;
}
.rainbow-color-4{
    height: 7.5em;
    width:15em;
    border: 1.25em solid #3edf4b;
    border-top: none;
    top: calc(50% + 3.75em);
    border-radius: 0 0 7.5em 7.5em; 
    animation-delay: 0.2s;
}
.rainbow-color-5{
    height: 6.25em;
    width:12.5em;
    border: 1.25em solid #3363ff;
    border-top: none;
    top: calc(50% + 3.12em);
    border-radius: 0 0 6.25em 6.25em;  
}

@media screen and (max-width: 992px){
    .rainbowContainer, .logo{
        display:none;
    }
}
@media screen and (min-width: 992px){
    .responsiveImg{ 
        display:none;
    }
}